<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="../css/mypetstore.css" type="text/css" media="screen"/>
</head>
<body>
<header th:fragment="header">
    <div id="Header">
        <div id="Logo">
            <div id="LogoContent">
                <a href="/catalog/index"><img src="../images/logo-topbar.gif"></a>
            </div>
        </div>

        <div id="Menu">
            <div id="MenuContent">
                <a href="/cart/viewCart"><img align="middle" name="img_cart" src="../images/cart.gif"/></a>
                <img align="middle" src="../images/separator.gif"/>
                <a th:if="${session.account==null}" href="/account/signonForm">Sign In</a>
                <a th:if="(${session.account!=null}) and (${!session.authenticated})" href="/account/signonForm">Sign
                    On</a>
                <a th:if="(${session.account!=null}) and (${session.authenticated})" href="/account/signoff">Sign
                    Out</a>
                <img th:if="(${session.account!=null}) and (${session.authenticated})" align="middle"
                     src="../images/separator.gif">
                <a th:if="(${session.account!=null}) and (${session.authenticated})"
                   href="/account/editAccountForm"></a>
                <img align="middle" src="../images/separator.gif">
                <a href="../help.html">?</a>
            </div>
        </div>

        <div id="Search">
            <div id="SearchContent">
                <form action="/catalog/searchProducts" method="post">
                    <input type="text" name="keyword" size="14" id="keyword">
                    <input type="submit" value="Search">
                </form>
                <div id="productAutoComplete">
                    <ul id="productAutoList">
                    </ul>
                </div>
            </div>
        </div>

        <!-- 快速导航栏 -->
        <div id="QuickLinks">
            <a th:href="@{/categoryForm(categoryId='FISH')}"><img src="/images/sm_fish.gif" alt="Fish"/></a>
            <img src="/images/separator.gif" alt="Separator"/>
            <a th:href="@{/categoryForm(categoryId='DOGS')}"><img src="/images/sm_dogs.gif" alt="Dogs"/></a>
            <img src="/images/separator.gif" alt="Separator"/>
            <a th:href="@{/categoryForm(categoryId='REPTILES')}"><img src="/images/sm_reptiles.gif" alt="Reptiles"/></a>
            <img src="/images/separator.gif" alt="Separator"/>
            <a th:href="@{/categoryForm(categoryId='CATS')}"><img src="/images/sm_cats.gif" alt="Cats"/></a>
            <img src="/images/separator.gif" alt="Separator"/>
            <a th:href="@{/categoryForm(categoryId='BIRDS')}"><img src="/images/sm_birds.gif" alt="Birds"/></a>
            <img src="/images/separator.gif" alt="Separator"/>
        </div>

    </div>

</header>
</body>
</html>