<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--    <link rel="StyleSheet" href="/static/css/mypetstore.css" type="text/css" media="screen"/>-->
<!--</head>-->
<!--<body>-->
<!--<header th:replace="common/top"></header>-->
<!--<div id="Content">-->
<!--    <div id="Welcome">-->
<!--        <div id="WelcomeContent">-->
<!--            &lt;!&ndash;登录用户的firstname&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->

<!--    <div id="Main">-->
<!--        <div id="Sidebar">-->
<!--            <div id="SidebarContent">-->
<!--                <a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif"/></a><br/>-->
<!--                Saltwater, Freshwater <br/>-->
<!--                <a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/dogs_icon.gif"/></a><br/>-->
<!--                Various Breeds <br/>-->
<!--                <a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/cats_icon.gif"/></a><br/>-->
<!--                Various Breeds, Exotic Varieties <br/>-->
<!--                <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif"/></a><br/>-->
<!--                Lizards, Turtles, Snakes <br/>-->
<!--                <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif"/></a><br/>-->
<!--                Exotic Varieties-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="MainImage">-->
<!--            <div id="MainImageContent">-->
<!--                <map name="estoremap">-->
<!--                    <area alt="Birds" coords="72,2,280,250" href="/catalog/viewCategory?categoryId=BIRDS" shape="RECT"/>-->
<!--                    <area alt="Fish" coords="2,180,72,250" href="/catalog/viewCategory?categoryId=FISH" shape="RECT"/>-->
<!--                    <area alt="Dogs" coords="60,250,130,320" href="/catalog/viewCategory?categoryId=DOGS" shape="RECT"/>-->
<!--                    <area alt="Reptiles" coords="140,270,210,340" href="/catalog/viewCategory?categoryId=REPTILES"-->
<!--                          shape="RECT"/>-->
<!--                    <area alt="Cats" coords="225,240,295,310" href="/catalog/viewCategory?categoryId=CATS"-->
<!--                          shape="RECT"/>-->
<!--                    <area alt="Birds" coords="280,180,350,250" href="/catalog/viewCategory?categoryId=BIRDS"-->
<!--                          shape="RECT"/>-->
<!--                </map>-->
<!--                <img height="355" src="../images/splash.gif" align="middle" usemap="#estoremap" width="350"/>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div id="Separator">&nbsp;</div>-->
<!--    </div>-->

<!--</div>-->
<!--<footer th:replace="common/bottom"></footer>-->
<!--</body>-->
<!--</html>-->


<!DOCTYPE html>
<html style="--n: 6">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="StyleSheet" href="/css/main.css" type="text/css" media="screen"/>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            document.querySelectorAll(".category-item").forEach(item => {
                item.addEventListener("click", function () {
                    let categoryId = this.getAttribute("data-category-id");
                    window.location.href = "/catalog/viewCategory?categoryId=" + categoryId;
                });
            });
        });
    </script>

</head>
<body>
<svg width="0" height="0" aria-hidden="true">
    <filter id="grain">
        <feTurbulence type="fractalNoise" baseFrequency="7.13"></feTurbulence>
        <feColorMatrix type="saturate" values="0"></feColorMatrix>
        <feComponentTransfer>
            <feFuncA type="linear" slope=".02"></feFuncA>
        </feComponentTransfer>
        <feBlend in2="SourceGraphic"></feBlend>
    </filter>
</svg>
<header th:replace="common/top"></header>
<!--<header th:replace="common/top"></header>-->
<div id="Main">
    <div id="Sidebar">
        <div id="SidebarContent">
            <a href="/catalog/viewCategory?categoryId=FISH"><img src="../images/fish_icon.gif" /></a><br />
            Saltwater, Freshwater <br />
            <a href="/catalog/viewCategory?categoryId=DOGS"><img src="../images/dogs_icon.gif" /></a><br />
            Various Breeds <br />
            <a href="/catalog/viewCategory?categoryId=CATS"><img src="../images/cats_icon.gif" /></a><br />
            Various Breeds, Exotic Varieties <br />
            <a href="/catalog/viewCategory?categoryId=REPTILES"><img src="../images/reptiles_icon.gif" /></a><br />
            Lizards, Turtles, Snakes <br />
            <a href="/catalog/viewCategory?categoryId=BIRDS"><img src="../images/birds_icon.gif" /></a><br />
            Small birds have melodious songs and charm.
        </div>
    </div>


    <main class="scene">
        <section class="assembly">
            <!-- 遍历 categoryList -->
            <article th:each="category, iterStat : ${categories}"
                     th:style="'--i: ' + ${iterStat.index} + '; --url: url(' + ${category.description} + '); --pos: 50% 50%'"
                     th:data-category-id="${category.categoryId}"
                     class="category-item">
                <header>
                    <h2 th:text="${category.categoryName}">Category Name</h2>
                </header>
                <figure>
                    <img th:src="${category.description}" th:alt="${category.categoryName}">
                </figure>
            </article>
        </section>
    </main>



    <!--    <main class="scene">-->
<!--        <section class="assembly">-->

            <!--            <article style="&#45;&#45;i: 0; &#45;&#45;url: url(https://images.unsplash.com/photo-1555169062-013468b47731?h=900); &#45;&#45;pos: 47% 35%" -->
<!--                     onclick="window.location.href='/catalog/viewCategory?categoryId=BIRDS';"-->
<!--            >-->
<!--                <header>-->
<!--                    <h2>BIRDS</h2>-->
<!--                    <em>Small birds have melodious songs and charm.</em>-->
<!--                </header>-->
<!--                <figure>-->
<!--                    <img src="https://images.unsplash.com/photo-1555169062-013468b47731?h=900" alt="birds">-->
<!--                </figure>-->
<!--            </article>-->
<!--            <article style="&#45;&#45;i: 1; &#45;&#45;url: url(https://images.unsplash.com/photo-1544943910-4c1dc44aab44?h=900); &#45;&#45;pos: 75% 65%"-->
<!--                     onclick="window.location.href='/catalog/viewCategory?categoryId=FISH';"-->
<!--            >-->
<!--                <header>-->
<!--                    <h2>FISH</h2>-->
<!--                    <em>Ornamental Fish Are Colorful and Calming-->
<!--                    </em>-->
<!--                </header>-->
<!--                <figure>-->
<!--                    <img src="https://images.unsplash.com/photo-1544943910-4c1dc44aab44?h=900" alt="fish">-->
<!--                </figure>-->
<!--            </article>-->
<!--            <article style="&#45;&#45;i: 2; &#45;&#45;url: url(https://images.unsplash.com/photo-1586671267731-da2cf3ceeb80?h=900); &#45;&#45;pos: 53% 43%"-->
<!--                     onclick="window.location.href='/catalog/viewCategory?categoryId=DOGS';"-->
<!--            >-->
<!--                <header>-->
<!--                    <h2>DOGS</h2>-->
<!--                    <em>loyal Companions, Ideal For Families-->
<!--                    </em>-->
<!--                </header>-->
<!--                <figure>-->
<!--                    <img src="https://images.unsplash.com/photo-1586671267731-da2cf3ceeb80?h=900" alt="dog">-->
<!--                </figure>-->
<!--            </article>-->
<!--            <article style="&#45;&#45;i: 3; &#45;&#45;url: url(https://images.unsplash.com/photo-1536590158209-e9d615d525e4?h=900); &#45;&#45;pos: 65% 65%"-->
<!--                     onclick="window.location.href='/catalog/viewCategory?categoryId=CATS';"-->
<!--            >-->
<!--                <header>-->
<!--                    <h2>CATS</h2>-->
<!--                    <em>Elegant, Independent, and Interactive Cat,HA JI Ml~~-->
<!--                    </em>-->
<!--                </header>-->
<!--                <figure>-->
<!--                    <img src="https://images.unsplash.com/photo-1536590158209-e9d615d525e4?h=900" alt="cat">-->
<!--                </figure>-->
<!--            </article>-->
<!--            <article style="&#45;&#45;i: 4; &#45;&#45;url: url(https://images.unsplash.com/photo-1610629651605-0b181ad69aab?h=900); &#45;&#45;pos: 50% 25%"-->
<!--                     onclick="window.location.href='/catalog/viewCategory?categoryId=REPTILES';"-->
<!--            >-->
<!--                <header>-->
<!--                    <h2>REPTILES</h2>-->
<!--                    <em>Smart and lively, Mimicking speech.-->
<!--                    </em>-->
<!--                </header>-->
<!--                <figure>-->
<!--                    <img src="https://images.unsplash.com/photo-1610629651605-0b181ad69aab?h=900" alt="reptile">-->
<!--                </figure>-->
<!--            </article>-->
<!--        </section>-->
<!--    </main>-->
</div>
<!--<footer></footer>-->
<footer th:replace="common/bottom"></footer>
</body>
</html>
